<div>
  <h1>New athlete</h1>
    {{#if showError}}
      <p class="alert alert-danger">
        Athletes must have a first and last name
      </p>
    {{/if}}
  <form>
    <fieldset>
      <div>
        <label>First name:</label>
        {{view Ember.TextField valueBinding="fields.firstName"}}
      </div>
      <div>
        <label>Last name:</label>
        {{view Ember.TextField valueBinding="fields.lastName"}}
      </div>
      <div>
        <label>Gender:</label>
        {{view Ember.Select content=App.Athlete.GENDER_LIST value="fields.gender" prompt="select a gender..."}}
      </div>
      <div>
        <label>Status:</label>
        {{view Ember.Select content=App.Athlete.STATUS_LIST valueBinding="fields.status"}}
      </div>
    </fieldset>
    <fieldset class="actions">
      <input type="submit" class="btn btn-sm btn-success" value="Create athlete" {{action createAthlete}}>
    </fieldset>
  </form>
</div>