<div class="col-xs-6 heat-edit-form">
  <h4><%= event.display_name %></h4>

  <%= simple_form_for(heat, :method => :put) do |f| %>
    <div class="row">
      <div class="col-xs-4">Athlete</div>
      <div class="col-xs-2">Time</div>
    </div>
    <% heat.entry_limit.times do |entry_index| %>
      <% if entry_index % 4 == 0%>
        <br/>
      <% end %>
      <div class="row form-group">
        <%= f.input "swims[#{entry_index}][athlete_id]", :label => false,
          :collection => athletes, :label_method => :full_name, :value_method => :id,
          :selected => f.object.swims[entry_index].try(:athlete_id), :include_blank => true,
          :wrapper_html => {:class => 'col-xs-4'}
        %>
        <%= f.input "swims[#{entry_index}][display_final_time]", :label => false,
          :input_html => {:value => f.object.swims[entry_index].try(:display_final_time), :placeholder => 'e.g. 1:51.51'},
          :wrapper_html => {:class => 'col-xs-2'}
        %>
      </div>
    <% end %>
    <br/>
    <%= f.submit 'Save entries', :class => 'btn btn-info' %>
    <%= link_to 'Cancel changes', meet_path(f.object.meet), :class => 'btn btn-danger' %>
  <% end %>

</div>


<div class="col-xs-6 eligible-athelete-list">
  <h4>Eligible swimmers:</h4>
  <ul class="list-unstyled">
    <% athletes.each do |athlete| %>
      <li>
        <span><%= athlete.full_name %> - <%= athlete.display_entry_count(heat.meet) %></span>
      </li>
    <% end %>
  </ul>
</div>