<h1>New Meet</h1>
<div class="col-xs-12 col-sm-6">
  <%= simple_form_for @meet do |f| %>
    <%= f.input :opponent, :wrapper_html => {:class => "form-group"}, :input_html => {:class => "form-control",} %>
    <%= f.input :competition_date, :as => :date, :wrapper_html => {:class => "form-group"}, :input_html => {:class => "form-control"} %>
    <div class="input entry_limit form-group">
      <label for="entry_limit">Entry limit per heat</label>
      <input id="entry_limit" class="form-control" name="meet[entry_limit]" type="number" value="3">
    </div>
    <%= f.button :submit, 'Create meet', :class => 'btn btn-info' %>
    <%= link_to 'Cancel', meets_path, :class => 'btn btn-danger' %>
  <% end %>
</div>