<h1>
  <%= @meet.title %>
  <a class="btn btn-info" href="<%= pdf_meet_path(@meet) %>">meet pdf <i class="fa fa-cloud-download"></i></a>
</h1>


<div class="row">
  <div class="edit-heat-view"></div>
</div>

<div class="row">
  <div class="list-group col-sm-6 col-xs-12">
    <% @meet.heats.women.each do |heat| %>
      <div id="heat-<%= heat.id %>-details">
        <%= render 'heats/details', :heat => heat %>
      </div>
    <% end %>
  </div>

  <div class="list-group col-sm-6 col-xs-12">
    <% @meet.heats.men.each do |heat| %>
      <div id="heat-<%= heat.id %>-details">
        <%= render 'heats/details', :heat => heat %>
      </div>
    <% end %>
  </div>
</div>
