<h1><%= @meet.competition_date.to_s(:db) %> meet against <%= @meet.opponent.titleize %></h1>

<div class="row">
  <div class="edit-heat-view"></div>
</div>

<div class="row">
  <div class="list-group col-xs-6">
    <% @meet.heats.women.each do |heat| %>
      <div id="heat-<%= heat.id %>-details">
        <%= render 'heats/details', :heat => heat %>
      </div>
    <% end %>
  </div>

  <div class="list-group col-xs-6">
    <% @meet.heats.men.each do |heat| %>
      <div id="heat-<%= heat.id %>-details">
        <%= render 'heats/details', :heat => heat %>
      </div>
    <% end %>
  </div>
</div>
