{{#unless isEditing}}
<div class="meet">
  <h1>
    {{model.opponent}}
  </h1>
  <p>
    {{model.competitionDate}}
  </p>
  <p>
    {{#link-to 'meet.edit' model classNames="edit"}}
      Edit
    {{/link-to}}
  </p>
  <p>Heats: {{heats}}</p>
  <p>Heats length: {{heats.length}}</p>
  {{#each heat in heats}}
    <p>heat</p>
  {{/each}}
</div>
{{/unless}}
{{outlet}}